@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
}

.card-container {
  font-family: 'Outfit', sans-serif;
  width: 30%;
  background-color: hsl(216, 50%, 16%);
  border-radius: 2%;
  margin: 10% auto;
  padding: 20px;
  height: 80vh;
}

.image {
  width: 100%;
  border-radius: 2%;
  color: white;
}

h1 {
  color: white;
}

.paragraph {
  color: hsl(215, 32%, 27%);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.left-side {
  display: flex;
  align-items: center;
}

.image-left {
  width: 15px;
  height: 48px;
  margin: 10px;
}

.right-side {
  display: flex;
  align-items: center;
}

.image-right {
  width: 25px;
  height: 28px;
  margin: 10px;
}
