@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
}

.card-container {
  font-family: 'Outfit', sans-serif;
  width: 30%;
  background-color: hsl(216, 50%, 16%);
  border-radius: 2%;
  margin: 10% auto;
  padding: 30px;
  /*height: 85vh;*/
}

.image {
  width: 100%;
  border-radius: 2%;
  color: white;
}

h1 {
  color: white;
  margin-top: 35px;
  margin-bottom: 35px;
}

.paragraph {
  color: hsl(215, 32%, 27%);
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*margin: 20px;*/
  border-bottom: solid 1px hsl(215, 32%, 27%);
  padding-bottom: 20px;
}

.left-side {
  display: flex;
  align-items: center;
}

.image-left {
  width: 23px;
  height: 39px;
  margin: 10px;
}

.right-side {
  display: flex;
  align-items: center;
}

.image-right {
  width: 38px;
  height: 42px;
  margin: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}

.image-bottom-container {
  width: 60px;
  height: 60px;
  border: solid 2px white;
  border-radius: 50%;
  margin: 20px;
}

.image-bottom {
  width: 60px;
  height: 60px;
}

.bottomline {
  font-size: 22px;
  color: hsl(215, 32%, 27%);
}

.bottom-paragraph {
  margin: 20px;
}

.span {
  color: white;
}

.right-side-line {
  font-size: 30px;
  color: hsl(215, 32%, 27%);
  font-family: 'Outfit', sans-serif;
}

.left-side-line {
  font-size: 30px;
  font-family: 'Outfit', sans-serif;
  color: white;
  font-weight: bold;
}
